h1 {
    color:black;
    font-size: 48px;

}

P {
    color:black;
    font-size: 18px;

}

header {
    width: 100%;
    background: darkgrey;
}

body {
    width: 100%;
    background: dimgrey;
}